{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cinemania{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<header>
    <div class="container">
        {% include 'shared/nav.html' %}
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="container">
        {% include 'shared/footer.html' %}
    </div>
</footer>

{% block extra_js %}{% endblock %}
</body>
</html>